<!DOCTYPE html>
<html>
<head>
  <title>JenkinsTeste</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag(:defaults) %>
  <%= javascript_include_tag "all" %>

  <%= csrf_meta_tags %>
</head>
<body>

   <%= yield %>

   <script>
      <%= yield :js %>   
   </script>

</body>
</html>
